@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
// Variables globales
$font-family: 'Poppins',
sans-serif;
$primary-color: black;
$gradient-colors: #231557,
#44107a,
#ff1361,
#fff800;
$base-font-size: 16px;
$background-color-text:#fff;
$blue-quiz-box:rgba(27,
174,
255,
1);
$border:1px solid lightgrey;