@use'../utils/index' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $primary-color;
    font-family: $font-family;
    font-size: $base-font-size;
}

.wrapper {
    // border: 2px solid red;
    &__row {
        // border: 2px solid blue;
        @include flex-center();
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        @media (max-width: 768px) {
            padding: 20px;
        }
        @media (max-width: 480px) {
            padding: 10px;
        }
    }
    &__text-center {
        // border: 2px solid green;
        display: flex;
        justify-content: center;
        // Styles pour smartphone
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
    &__title {
        &.animate-character {
            text-transform: uppercase;
            color: $background-color-text;
            font-size: 90px;
            display: inline-block;
            background-image: linear-gradient(-225deg, $gradient-colors);
            background-size: 200% auto;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            animation: textclip 2s linear infinite;
            // Styles pour tablette
            @media (max-width: 768px) {
                font-size: 60px;
            }
            // Styles pour smartphone
            @media (max-width: 480px) {
                font-size: 40px;
            }
        }
    }
    &__button {
        margin: 100px;
        text-align: center;
        a {
            cursor: pointer;
        }
        .start_btn {
            position: relative;
            display: inline-block;
            padding: 15px 25px;
            border-radius: 5px;
            font-size: 1.2em;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            color: $background-color-text;
            animation: anim-btn1 1s ease-in-out infinite alternate;
        }
        // Styles pour tablette
        @media (max-width: 768px) {
            margin: 40px;
        }
        // Styles pour smartphone
        @media (max-width: 480px) {
            margin: 20px;
            .start_btn {
                padding: 10px 20px;
            }
        }
    }
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
    @keyframes anim-btn1 {
        from {
            transform: scale(1);
            background-color: rgb(224, 224, 94);
            text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
            box-shadow: 0 0 0 transparent, 0 0 5px rgba(0, 0, 0, .25) inset;
        }
        to {
            transform: scale(1.1);
            background-color: #ff1361;
            text-shadow: 0 2px 6px rgba(0, 0, 0, .35);
            box-shadow: 0 0 12px #ff1361, 0 0 10px rgba(0, 0, 0, .5) inset;
        }
    }
}